body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #14d3f5;
}
h1
{
    color: rgb(243, 11, 11);
    font-size: 50px;
    font-family: 'Press Start 2P', cursive;
}
span::before
{
    content: '';
    animation: word-swith 3s infinite;
}
@keyframes word-swith 
{
    0% {content: '💻'}

    20%{content: '🐶';}

    40%{content: '🎮';}

    80%{content: '🍔';}

    100%{content: '📚';}
}